//sassの機能を書いたscssを追加
@import "../variables.module.scss";

// 呼び出しの例 
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  
    // ↓768px以下で適用したいCSS
    @include mq(md) {
       width: 100px;
    }
}
